@model DoAnCNPMNC.Models.ChuyenBay

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    <link href="~/Content/bootstrap.min.css" />
    <style>
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }

        .form-group {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 10px;
        }

            .form-group:last-child {
                margin-right: 0;
            }

        label {
            display: block;
            margin-bottom: 5px;
        }
    </style>
}


<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="text-align:center">Chuyến Bay</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group" style="width: 45%">
                Sân khởi hành
                <div class="col-md-10">
                    @Html.DropDownList("SanKhoiHanhID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SanKhoiHanhID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group " style="width: 45%">
                Sân đến
                <div class="col-md-10">
                    @Html.DropDownList("SanDenID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SanDenID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group " >
                Giờ khởi hành
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GioKhoiHanh, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                    @Html.ValidationMessageFor(model => model.GioKhoiHanh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ">
                Giờ kết thúc
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GioKetThuc, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                    @Html.ValidationMessageFor(model => model.GioKetThuc, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group" style="width: 25%">
                Ngày khởi hành
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayKhoiHanh, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="width: 25%">
                Ngày Kết thúc
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Số ghế Trống
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoGheTrong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoGheTrong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" >
                Số ghế Vip Trống
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoGheVipTrong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoGheVipTrong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" >
                <div class="col-md-10 offset-md-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
