@model DoAnCNPMNC.Models.ChuyenBay

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
    }

    .dl-horizontal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    dt {
        width: 45%;
        margin-bottom: 5px;
    }

    dd {
        width: 50%;
        margin-bottom: 5px;
    }

    .delete-button {
        background-color: #dc3545;
        color: #fff;
        border: 1px solid #dc3545;
        padding: 8px 12px;
        text-decoration: none;
        vertical-align: middle
    }

        .delete-button:hover {
            background-color: #c82333;
            border-color: #c82333;
            color: #fff;
        }
</style>

<div class="container">
    <h2>Xóa chuyến bay</h2>

    <h3>Bạn có chắc muốn xóa chuyến bay này không?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Giờ khởi hành
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GioKhoiHanh)
            </dd>

            <dt>
                Giờ kết thúc
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GioKetThuc)
            </dd>

            <dt>
                Ngày khởi hành
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NgayKhoiHanh)
            </dd>

            <dt>
                Ngày kết thúc
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NgayKetThuc)
            </dd>

            <dt>
                Số ghế trống
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SoGheTrong)
            </dd>

            <dt>
                Số ghế vip trống
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoGheVipTrong)
            </dd>

            <dt>
                Trạng thái
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>

            <dt>
                Sân bay đi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SanBay.TenSanBay)
            </dd>

            <dt>
                Sân bay đến
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SanBay1.TenSanBay)
            </dd>

        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default delete-button" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
</div>
