@model IEnumerable<DoAnCNPMNC.Models.ChuyenBay>

@{
    ViewBag.Title = "DanhSachChuyenBay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Content/listFlight.css" />
}

<h2 style="text-align: center; padding: 10px 0 20px 0; color: #C7626F; ">Danh Sách Chuyến Bay</h2>

<div class="flight-list ">
    @foreach (var item in Model)
    {
        <div class="flight-item shadow-lg">
            <div>
                <div class="flight-details ">
                    <strong> Sân khởi hành: </strong>@Html.DisplayFor(modelItem => item.SanBay.TenSanBay)
                </div>
                <div class="flight-details ">
                    <strong> Sân đến: </strong>@Html.DisplayFor(modelItem => item.SanBay1.TenSanBay)
                </div>

                <div class="flight-details">
                    <strong>Giá phổ thông: </strong> 
                    @Html.DisplayFor(modelItem => item.GiaPhoThong)
                </div>

                <div class="flight-details">
                    <strong>Giá thương gia: </strong> 
                    @Html.DisplayFor(modelItem => item.GiaThuongGia)
                </div>
            </div>

            <div>
                <div class="flight-time">
                    <strong> Giờ khởi hành: </strong>@Html.DisplayFor(modelItem => item.GioKhoiHanh)
                </div>
                <div class="flight-time">
                    <strong> Giờ đến: </strong>@Html.DisplayFor(modelItem => item.GioKetThuc)
                </div>
            </div>


            <div class="flight-actions">
                @Html.ActionLink("Details", "Details", new { id = item.ChuyenBayID })
                @Html.ActionLink("Buy Ticket", "DatVe", "ChuyenBay", new { id = item.ChuyenBayID }, null)
            </div>
        </div>
    }
</div>

